@page "/usuarios"
@inject IRepository repository
@inject SweetAlertService Swal
@inject NavigationManager navigationManager


<h3>Usuarios</h3>

<a class="btn btn-primary" href="/usuarios/crear">Nuevo País</a>

<GenericList MyList="Usuarios">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Usuarios!)
                {
                    <tr>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Apellido</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Telefono</td>
                        <td>
                            <a href="/usuarios/editar/@usuario.Id" class="btn btn-primary">Editar</a>
                            <button class="btn btn-danger" @onclick=@(()=> Delete(usuario))>Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>
